{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div class="header-container">
  <h1>
    <img src="{{ 'hero-image.svg' | asset_url }}" />
    <span>vintage & thrift</span>
  </h1>
</div>

<div class="hero-collections">
  <div class="parallax parallax-one" style="background-image: url({{ 'parallax-left.svg' | asset_url }})"></div>
  <div class="parallax parallax-two" style="background-image: url({{ 'parallax-right.svg' | asset_url }})"></div>
  <div class="hero-collections__card-ctn">
    {% for block in section.blocks %}
      <a class="hero-collections__card" href="{{ block.settings.collection.url }}">
        <div class="hero-collections__card--bg" style="background-image: url({{ block.settings.image_bg | img_url: 'Medium' }})"></div>
        <div class="hero-collections__card--hover" style="background-image: url({{ block.settings.image_hover | img_url: 'Medium' }})"></div>
        <h3 class="hero-collections__card-title">{{ block.settings.collection.title | downcase }}</h3>
      </a>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "blocks": [
    {
      "type": "collection",
      "limit": 3,
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image_bg",
          "label": "Image background"
        },
        {
          "type": "image_picker",
          "id": "image_hover",
          "label": "Image Hover"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}